[submodule "lib/dynamic-memory-arrays"]
	path = lib/dynamic-memory-arrays
	url = https://github.com/RaphaelHardFork/dynamic-memory-arrays
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
