[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/dynamic-memory-arrays"]
	path = lib/dynamic-memory-arrays
	url = https://github.com/RaphaelHardFork/dynamic-memory-arrays
[submodule "lib/foundry-test-helpers"]
	path = lib/foundry-test-helpers
	url = https://github.com/steftroubadour/foundry-test-helpers
	branch = v0.0.3
